@mixin transitionAll2ms {
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}


@mixin topleft0 {
  top: 0;
  left: 0;
}

@mixin heightWidth100 {
  height: 100%;
  width: 100%;
}

@mixin leftTop50 {
  top: 50%;
  left: 50%;
}