body {
  position: relative;
  z-index: 0;
  //   background: linear-gradient(to right, #4834d4, #341f97);
  background: linear-gradient(
    180deg,
    #240044 0,
    #0f0240 25%,
    #400959 40%,
    #0f0240 65%,
    #0f0240
  );
}
.wrap {
  max-width: 100%;
}
.navbar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  background-color: rgba(0, 0, 0, 0.5);

  &-collapse {
    padding: 20px;
  }

  .nav-link,
  .navbar-brand,
  .btn-transparent {
    font-weight: bold;
    transition: all 0.4s ease-in-out;
    color: rgba(255, 255, 255, 0.7) !important;

    &:hover {
      color: white !important;
    }
  }

  .btn-transparent {
    border-radius: 100px;
    border: 2px solid #7450fe;
    font-size: 14px;
    transition: all 0.6s ease-in-out;

    &:hover {
      background: #7450fe;
      color: white !important;
    }
  }
}

.bg-hero {
  position: relative;
  height: 100vh;
  width: 100%;
  top: 0;
  background-image: url('/img/bg-img/bg-2.jpg');
  background-repeat: no-repeat;
  z-index: -1;
  background-size: cover;
  opacity: 0.9;
  background-position: center center;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #4431ca;
    width: 100%;
    height: 100%;
    opacity: 0.9;
  }

  @media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
    height: 60vh;
  }

  @media only screen and (max-width: 991px) {
    max-height: 800px;
  }

  @media only screen and (min-width: 992px) {
    min-height: 500px;
  }

  @media only screen and (max-width: 500px) {
    min-height: 800px;
  }

  &__img {
    position: absolute;
    height: 100vh;
    z-index: 2;
    left: 30%;
    max-width: 700px;
  }

  .container {
    position: absolute;
    z-index: 5;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.tab-space {
  position: relative;

  &-1 {
    line-height: 34px;
  }

  &::after {
    content: '';
    position: absolute;
    left: -20px;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: #fff;
  }
}

.main {
  position: relative;
  padding: 100px 0;

  .robot-3_text {
    background: #291674;
  }

  .heading-mt {
    margin-top: 200px;
  }

  .img-shape {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 150px;
    max-height: 150px;
  }

  .mt-6 {
    margin-top: 100px;
  }

  .video-box {
    border-radius: 15px;
    border: 1px solid #25cbd3;
    position: relative;
    padding: 0 15px;
    max-width: 970px;

    img {
      position: relative;
      top: -15px;
      border-radius: 15px;
    }

    .img-fluid {
      width: 90% !important;
    }

    #video-play {
      &:hover {
        i {
          color: black;
        }
      }

      i {
        transition: all 0.4s ease-in-out;
        color: white;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;
        border: none;
        padding: 0;
      }
    }
  }
}

.btn {
  &-dream,
  &-dream-rounded {
    background-image: linear-gradient(
      to right,
      #21d397 0%,
      #7450fe 51%,
      #21d397 100%
    );
    background-size: 200% auto;
    display: inline-block;
    transition: all 0.5s;
    border-radius: 100px;
    min-width: 120px;
    text-align: center;
    height: 48px;
    line-height: 48px;
    padding: 0 20px;
    font-weight: 600;

    &:hover {
      background-position: right center;
    }
    &-rounded {
      border-radius: 50% !important;
      min-width: 50px;
    }
  }

  &__telegram {
    color: #25cbd3;
    transition: all 0.6s ease-in-out;
    border-radius: 100px;

    &:hover {
      text-decoration: none;
      background-color: #25cbd3 !important;
      color: white;
    }
  }
}

.services {
  .subscribe {
    border-radius: 15px;
    position: relative;
    top: 50px;

    &::before {
      width: 100%;
      height: 100%;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      z-index: -2;
      background-color: #1d66f6;
      border-radius: 15px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background: url('../img/core-img/wave-shap.png') no-repeat center center;
      background-size: contain;
      opacity: 0.5;
      z-index: -1;
    }

    form {
      // border-bottom: 2px solid rgba(255, 255, 255, 0.2);

      input {
        &::placeholder {
          color: white;
          text-align: center;
        }

        &:focus {
          outline: none !important;
        }
      }
    }

    .white {
      color: rgba(255, 255, 255, 0.8);
      transition: all 0.3s ease-in-out;

      &:hover {
        color: white;
      }
    }
  }
}

.faq {
  padding: 150px 0;

  .card {
    border-left: none !important;
    border-right: none !important;
    border-color: rgba(255, 255, 255, 0.1);

    &-header {
      background: transparent;
      transition: all 0.4s ease-in-out;

      &:hover {
        background: rgba(255, 255, 255, 0.2);
        transition: opacity 1.6s;
        animation-fill-mode: forwards;
      }
    }
  }
}

.approach {
  padding: 105px 0;
  background-size: cover;
  background-image: url('/img/bg-img/bg-3.jpg');
  position: relative;
  z-index: -2;

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(72, 52, 212, 0.9);
  }
}

.team {
  padding: 150px 0;

  .img-fluid {
    max-width: 150px;
    max-height: 150px;
  }

  ul {
    padding: 0;
  }

  .col-6 {
    a {
      transition: all 0.3s ease-in-out;

      &:hover {
        color: white !important;
      }
    }
  }
}

.contact {
  padding: 200px 0;
  background-image: url('/img/core-img/pattern.png');
  position: relative;

  .btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    &::placeholder {
      color: white !important;
    }
  }
}

.footer {
  height: auto;
  width: 100%;
  padding: 80px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/img/core-img/footer-bg1.png');

  @media only screen and (max-width: 991px) {
    background-color: #291674;
    background-image: none;
  }

  ul {
    a {
      color: rgba(255, 255, 255, 0.5);
      transition: all 0.2s ease-in-out;

      &:hover {
        text-decoration: none;
        color: white;
      }
    }
  }
}
