.bg-hero {
    &__img {
        position: absolute;
        height: 100vh;
        z-index: 2;
        left: 30%;
        bottom: 0;
        max-width: 700px;
        opacity: 0.6;

        @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
            max-height: 800px;
        }

        /* Portrait*/
        @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
            max-height: 800px;
        }
    }
}

.main {
    .img-shape {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        max-width: 150px;
        max-height: 150px;
    }

    .video-box {
        img {
            position: relative;
            top: -15px;
            border-radius: 15px;
        }
    }
}

.team {
    .img-fluid {
        max-width: 150px;
        max-height: 150px;
    }

}