.bg-hero {
    position: relative;
    height: 100vh;
    width: 100%;
    top: 0;
    background-image: url('/img/bg-img/bg-2.jpg');
    background-repeat: no-repeat;
    z-index: 1;
    background-size: cover;
    opacity: 0.9;
    background-position: center center;

    &::before {
        content: '';
        position: absolute;
        @include topleft0;
        @include heightWidth100;
        background: linear-gradient(180deg,
                #240044 0,
                #0f0240 25%,
                #400959 40%,
                #0f0240 65%,
                #0f0240);
        opacity: 0.1;
    }

    &::before {
        content: '';
        position: absolute;
        @include topleft0;
        @include heightWidth100;
        background-color: #4431ca;
        opacity: 0.9;
    }

    @media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
        height: 60vh;
    }

    @media only screen and (max-width: 991px) {
        max-height: 850px;
        padding: 50px 0;
    }

    @media only screen and (min-width: 992px) {
        min-height: 630px;
    }

    @media only screen and (max-width: 500px) {
        min-height: 800px;
    }

    .container {
        position: absolute;
        z-index: 10000;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.main {
    position: relative;
    padding: 100px 0;

    .robot-3_text {
        background: #291674;
    }

    .heading-mt {
        margin-top: 200px;
    }

    .mt-6 {
        margin-top: 100px;
    }

    .video-box {
        border-radius: 15px;
        border: 1px solid #25cbd3;
        position: relative;
        padding: 0 15px;
        max-width: 970px;

        #video-play {
            &:hover {
                i {
                    color: black;
                }
            }

            i {
                transition: all 0.4s ease-in-out;
                position: absolute;
                @include leftTop50;
                transform: translate(-50%, -50%);
                z-index: 5;
                border: none;
                padding: 0;
            }
        }
    }
}

.services {
    .subscribe {
        border-radius: 15px;
        position: relative;
        top: 50px;

        &::before {
            content: '';
            @include heightWidth100;
            position: absolute;
            @include topleft0;
            z-index: -2;
            background-color: #1d66f6;
            border-radius: 15px;
        }

        &::after {
            content: '';
            position: absolute;
            @include topleft0;
            @include heightWidth100;
            z-index: 1;
            background: url('../img/core-img/wave-shap.png') no-repeat center center;
            background-size: contain;
            opacity: 0.5;
            z-index: -1;
        }

        form {

            input {
                &::placeholder {
                    color: white;
                    text-align: center;
                }

                &:focus {
                    outline: none !important;
                }
            }
        }

        .white {
            color: rgba(255, 255, 255, 0.8);
            transition: all 0.3s ease-in-out;

            &:hover {
                color: white;
            }
        }
    }
}

.faq {
    padding: 150px 0;

    .card {
        border-left: none !important;
        border-right: none !important;
        border-color: rgba(255, 255, 255, 0.1);

        &-header {
            background: transparent;
            transition: all 0.4s ease-in-out;

            &:hover {
                background: rgba(255, 255, 255, 0.2);
                transition: opacity 1.6s;
                animation-fill-mode: forwards;
            }
        }
    }
}

.approach {
    padding: 105px 0;
    background-size: cover;
    background-image: url('/img/bg-img/bg-3.jpg');
    position: relative;
    z-index: -2;

    &::after {
        content: '';
        @include heightWidth100;
        z-index: -1;
        position: absolute;
        @include topleft0;
        background: rgba(72, 52, 212, 0.9);
    }
}

.team {
    padding: 150px 0;

    .col-6 {
        a {
            transition: all 0.3s ease-in-out;

            &:hover {
                color: white !important;
            }
        }
    }
}

.contact {
    padding: 200px 0;
    background-image: url('/img/core-img/pattern.png');
    position: relative;


    .form-control {
        background: transparent;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);

        &::placeholder {
            color: white !important;
        }
    }
}

.modal-content {
    top: 30vh;
}